{% extends 'base.html' %}

{% block content %}
  <h2>Total Expense: ${{ total_expense }}</h2>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
          <tr>
            <td><a href="{% url 'expense_detail' pk=expense.pk %}">{{ expense.description }}</a></td>
            <td>Rs.{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
            <td>
              <a class="btn btn-info btn-sm" href="{% url 'expense_edit' pk=expense.pk %}">Edit</a>
              <a class="btn btn-danger btn-sm" href="{% url 'expense_delete' pk=expense.pk %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mt-3">
    <a class="btn btn-primary" href="{% url 'expense_new' %}">Add New Expense</a>
  </div>
{% endblock %}
